<form {{action 'save' on="submit"}}>
    <p>{{input placeholder="title" required=true value=title}}</p>
    <p>{{input placeholder="artist" required=true value=artist}}</p>
    <p><input value="Add" type="submit"></p>
</form>

{{yield}}
